@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('cyborg.css');

body {
    text-align: center;
    font-family: Iosevka-Regular;
    font-size: 1.2em;
}

h1 {
    font-family: Iosevka-Regular;
    font-size: 2em;
    padding-top: 10px;
}